@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

/*
App Root Container Structure 
.section {
    .container { 
        flex grow, margin 0 auto, position rel, width: auto.
    }
}

.content class is multi purpose for  
<p> paragraphs
<ul> <ol> <dl> lists
<h1> to <h6> headings
<blockquote> quotes
<em> and <strong>
<table> <tr> <th> <td>

.block simple spacer with good margins.

.box: floating container with tasteful shadow

button-state: .is-loading, is-outlined, [disabled]

.columns: (Can have variable gaps.)
    .column.is-three-quarters
    .column.is-two-thirds
    .column.is-half
    .column.is-one-third
    .column.is-one-quarter
    .column.is-full

    .column.is-four-fifths
    .column.is-three-fifths
    .column.is-two-fifths
    .column.is-one-fifth

.columns {
    .column
   ?.column
   .columns {
        .column
   }
} 
*/

html {
    /* --mdc-theme-primary: #6200ee;
    --mdc-theme-secondary: #018786; */
    --mdc-icon-font: 'Material Icons Outlined';
}
body {
    background: #fafafa;
}

.mat-br {
    border-radius: 10px;
    overflow: hidden;
}

